/*.container{
    padding: 80px;*/

.jumbotron{
	color: white;
	width: 100%;
	background: url(../img/wild_oliva.png) center center fixed;
}

#logos a:hover {
	color: white;
}

.container h3{
	margin-top: 20px;
	font-size: 30px;
	margin-bottom: 30px;
}

.container h4{
	font-size: 23px;
	margin-bottom: 10px; 
}

.container h4:hover{
	color: blue;
}

.container p{
	font-size: 18px;
}

.container{
	padding-bottom: 50px;
}


