<!DOCTYPE>
<html>
<head>
	<title>Karen Sit</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	</head>

<body>
	<h1>Karen Sit<h1>
	<h2>Back-End Software Engineer</h2>
	<div id='logos'>
		<a href='https://github.com/karenwsit'>
			<i class="fa fa-github-square fa-3x"></i>
		</a>
		<a href='https://www.linkedin.com/in/karenwsit'>
			<i class="fa fa-linkedin-square fa-3x"></i>
		</a>
		<a href='https://twitter.com/sitkaren'>
			<i class="fa fa-twitter-square fa-3x"></i>
		</a>
	</div>

	<h2>About</h2>
	<p>I'm a back-end engineer focused on building and maintaining the technology that powers the user-facing side of any website application. I also really enjoy working with and manipulating data.</p>

	<h2>Projects</h2>

	<h3>WOL:Insert Image</h3>
	<p>WOL is a fullstack web application that creates data visualizations of tweet sentiments of particular companies in a user's financial portfolio. Tweets are normalized, tokenized, and analyzed using natural language processing. Users are able to conduct exploratory visual analysis and view sentiment patterns/trends to ultimately help users decide when to buy or sell stocks.</p>

	<h3>Films for Friends</h3>
	<p>Films for Friends is a full-stack web application that uses personality tests to curate a personalized list of movies for users</p>

	<h3>Judgemental Eye:Insert Image</h3>
	<p>Judgemental Eye is a fullstack movie recommendation web application that utilizes machine learning to recommend movies to users based on previous ratings.</p>

</body>
</html>