<!DOCTYPE html>
<html lang="en">
<head>
	<title>Karen Sit</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href="static/css/custom.css" rel='stylesheet'>
</head>

<body>
	<div class="jumbotron">
	<div class="container">
	<h1>Karen Sit<h1>
	<h3>Software Engineer</h3>
	<div id='logos'>
		<a href='https://github.com/karenwsit'>
			<i class="fa fa-github-square fa-4x"></i>
		</a>
		<a href='https://www.linkedin.com/in/karenwsit'>
			<i class="fa fa-linkedin-square fa-4x"></i>	
		</a>
		<a href='https://twitter.com/sitkaren'>
			<i class="fa fa-twitter-square fa-4x"></i>
		</a>
	</div>
	</div>
	</div>
	<div class="container">
	<h3>About</h3>
	<p>I'm a software engineer focused on building and maintaining the technology that powers the user-facing side of any website application. I also really enjoy working with and manipulating data.</p>

	<h3>Projects</h3>

	<h4>
		<a href="https://github.com/karenwsit/WOL">
		WOL: The Owl of WOL Street
		</a>
	</h4>
	<p>WOL is a fullstack web application that creates data visualizations of tweet sentiments of particular companies in a user's financial portfolio. Tweets are normalized, tokenized, and analyzed using natural language processing. Users are able to conduct exploratory visual analysis and view sentiment patterns/trends to ultimately help users decide when to buy or sell stocks.</p>

	<h4>
		<a href="https://github.com/karenwsit/FilmsToFriends">
		Films for Friends
		</a>
	</h4>
	<p>Films for Friends is a full-stack web application that uses personality tests to curate a personalized list of movies for users</p>

	<h4>
		<a href="https://github.com/karenwsit/JudgmentalEye">
		Judgemental Eye
		</a>
	</h4>
	<p>Judgemental Eye is a fullstack movie recommendation web application that utilizes machine learning to recommend movies to users based on previous ratings.</p>
	</div>

</body>
</html>